{{!-- HTML TEMPLATE --}}
<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/project">{{project.name}}</a>
    </h2>
    <h2>Title {{project.title}}</h2>
    <p class="postby">Created by {{project.user.name}} on {{format_date project.date_created}} {{{get_emoji}}} </p>
  </div>
  <div id="blogContent" class="col-md-7">
    <p>
      {{project.content}}
    </p>
  </div>
</div>
{{/each}}
